.floor {
    display: grid;
    grid-template-columns: 100px 150px 300px;
    justify-content: space-between;
    align-content: center;
}

.floor-area {
    text-align: center;
    border-bottom: 5px solid white;

    padding: 5px
}

.call-area, .lift-area {
    border-right: 5px solid white;
}

.lift-area .lift {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

.green-icon {
    background-color: green;
    width: 10px;
    height: 10px;
}

.amber-icon {
    background-color: orange;
    width: 10px;
    height: 10px;
}

.red-icon {
    background-color: red;
    width: 10px;
    height: 10px;
}